.pieHome{
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    color: white;
    font-size: 15px;
    width: 100%;
    position: relative;
    bottom: 0;
  }

  .pieCarta{
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    color: white;
    font-size: 15px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  
  .boxFooter{
    display: flex;
    align-self: center;
    gap: 70px;
  }
  a,span{
    font-size: 20px;
 
  }
  
  .fb{
    background: rgb(108, 154, 228);
    padding: 4px;
    border-radius: 30px;
    color: white;
  }
  .yt{
    background: rgb(192, 28, 28);
    padding: 4px;
    border-radius: 30px;
    color: white;
  }
  .in{
    background: rgb(215, 78, 165);
    padding: 4px;
    border-radius: 30px;
    color: white;
  }
  .footerC{
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }