.pieHome{
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
  color: white;
  font-size: 15px;
  width: 100%;
  position: relative;
  bottom: 0;
}

.pieCarta{
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
  color: white;
  font-size: 15px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
  
  .boxFooter{
    display:flex;
    align-self:center;
    gap: 90px;
    color:rgb(243, 170, 170);
    padding-left: 20px;
    
  }
  a,span{
    font-size: 12px;
  }

  .container-footer p{
    font-size: 15px;
    color: rgb(237, 193, 209);
  }
  
  .fb{
    background: rgb(108, 154, 228);
    padding: 5px;
    border-radius: 30px;
    color: white;
  }
  .yt{
    background: rgb(192, 28, 28);
    padding: 5px;
    border-radius: 30px;
    color: white;
  }
  .in{
    background: rgb(215, 78, 165);
    padding: 5px;
    border-radius: 30px;
    color: white;
  }

  .footerC{
    display:inline-flex;
    justify-content:space-around;
    padding: 30px;
    font-style: normal;
    font-size: 16px;
  }
 
    .parrafo_0, .parrafo1, .parrafo2, .parrafo3{
    margin: 12vh;
    margin-left: 5vh;
    margin-right: 5vh;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 18px;
    
  }
  
  